{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}


    {% for conference in conferences %}
    <h4>Hello {{ conference }} ✅</h4>
    <a href="{{ path('conference', { slug: conference.slug}) }}">View</a>

    {% endfor %}
{% endblock %}
